<main>
    <section>
        <img src="/assets/images/logo.svg" alt="ModalGR">
        <img src="/assets/images/imagem-barra-lateral.svg" alt="Colaboração">
    </section>
    <section>
        <h1>Cadastro de Pessoas</h1>
        <h2>Quer fazer parte da equipe ModalGR? Se inscreva no nosso Banco de Talentos.</h2>
        <p>Nome</p><p>*Campo Obrigatório</p>
        <input type="text">
        <p>CPF</p><p>*Campo Obrigatório</p>
        <input type="text">
        <p>Data de Nascimento</p><p>*Campo Obrigatório</p>
        <input type="date">
        <p>CEP</p><p>*Campo Obrigatório</p>
        <input type="text">
        <p>Estado</p>
        <input type="text">
        <p>Cidade</p>
        <input type="text">
        <p>Bairro</p>
        <input type="text">
        <p>Logadouro</p>
        <input type="text">

        <button>Cadastrar</button>
    </section>
</main>